* {
    padding: 0;
    border: 0;
    margin: 0;
}

body, html {
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}

.hidden-element {
    display: none !important;
}

.transparent-element {
    opacity: 0;
}

.navbar-full {
    background: linear-gradient(to right, #1290f8, #290082) !important;
}

.navbar-empty {
    background: none !important;
}

.fade {
    
}

#warning-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#warning-modal-content {
    box-shadow: 90px 90px 90px rgba(33,33,33,.5); 
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 20px 20px;
    line-height: 40px;
}

@media(min-width: 800px) {
  #warning-modal-content {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 30%;
  }
}

@media(max-width: 800px) {
  #warning-modal-content {
    height: 100%;
    font-size: 15px;
  }
}

#warning-modal-content p {
  font-weight: bold;
}

#warning-modal-content button {
  font-size: 15px;
  background-color: #EFEFEF;
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 14px 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#warning-modal-content button:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}


@media (max-width: 1000px) {
  #desktop-content {
    display: none;
  }
}

@media (min-width: 1000px) {
  #mobile-content {
    display: none;
  }
}

#navigation-bar a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#navigation-bar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#navigation-bar a:hover {
  cursor: pointer;
}

#navigation-bar img:hover {
  transition: opacity 0.5s ease-in;
  opacity: 0.7;
  cursor: pointer;
}

@media (min-width: 1000px) {
    #navigation-bar {
        overflow: hidden;
        position: fixed;
        z-index: 1;
        padding: 0px 16px;
        /* background: linear-gradient(to right, #1290f8, #290082);*/
        background: rgb(256, 256, 256, 0);
        background: linear-gradient(to left, 50% rgb(256, 256, 256, 0), 50% #1290f8, #290082);
        background-size: 200%;
        height: 70px;
        width: -webkit-fill-available;
    }

    #navigation-bar a {
        position: relative;
        display: inline-block;
        padding: 14px 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 28px;
    }

    #navigation-bar img {
        max-height: 70px;
        width: auto
    }

    #navigation-bar #nav-left {
       position: absolute;
       margin: 0;
    }

    #navigation-bar #nav-center {
        margin: auto;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        text-align: center;
    }

    #navigation-bar #nav-right {
        position: absolite;
        float: right;
    }
}

@media (max-width: 1000px) {
    #navigation-bar {
        top: 0;
        display: block;
        position: sticky;
        z-index: 1;
        padding: 0px 16px;
        background: linear-gradient(to right, #1290f8, #290082);
        width: 100%;
    }

    #navigation-bar a {
        position: relative;
        display: block;
        text-align: center;
        background: linear-gradient(to right, #1290f8, #290082);
        width: inherit;
        background: none;
        padding: 20px 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 28px;
    }

    #navigation-bar img {
        max-height: 70px;
        width: auto
    }
}

#navigation-bar img {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
#demo-video {
  object-fit: cover;
  overflow-x: hidden;
  position: absolute;
  width: 140%;
  left: -20%;
  height: 100vh;
  z-index: 0;
}

#demo-video-mobile {
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
  position: relative;
  height: auto;
  z-index: 0;
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  transform:scale(1.5);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
  text-align: center;
  background-image: linear-gradient(to right, #1290f8, #290082);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  padding: 20px 16px;
  font-size: 13px;
}

footer p {
  padding: 5px 16px;
  font-size: 15px;
}

.fa {
  float: left;
  padding: 8px;
  width: auto;
  font-size: 40px !important;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
}

.fa:hover {
  opacity: 0.8;
}

#social-inst {
  color: white;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

#bottom-warn {
  padding: 14px 16px; 
  z-index: 1;
  position: fixed;
  background-color: rgb(255, 255, 255, 0.5);
  width: -webkit-fill-available;
  bottom: 0;
}

#bottom-warn-content {
  padding: 5px;
  justify-content: center;
  overflow: hidden;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  width: 80%;
}

#bottom-warn-content p {
  display:inline-block;
}

@media (max-width: 1000px) {
  #bottom-warn-content {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
  }
}

@media (min-width: 1000px) {
  #bottom-warn-content {
    margin-left: 30%;
    margin-right: 30%;
    max-width: 45%;
  }
}

#bottom-warn-content button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  background-color: #efefef;
  padding: 5px 5px;
}

#bottom-warn-content button:hover {
  color: blue;
  text-decoration: underline;
}

#bottom-warn-content span {
  top: 0;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#bottom-warn-content span:hover, #bottom-warn-content span:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#top-description {
  position: absolute;
  padding: 14px 16px;
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
  top: 30%;
  width: -webkit-fill-available;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  background: none
}

#top-description p {
  font-size: 30px !important;
  padding: 30px 16px;
}

#top-description a{
  background: linear-gradient(to right, #1290f8, #290082);
  text-decoration: none;
  color: white;
  font-size: 25px !important;
  padding: 8px 14px;
  border-radius: 5px;
  transition: all 0.3s ease-in
}

#top-description a:hover {
  opacity: 0.8
}

#video-content {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#mid-description-one {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 14px 16px;
  background-image: url("https://404soundandlighting.tech/images/home/front_page_one.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  z-index: 100
}

#mid-description-one p {
  position: relative;
  top: 25%;
  left: 5%;
  text-align: center;
  max-width: 300px;
  font-size: 30px;
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  line-height: 2;
}

#mid-description-one h2 {
  position: relative;
  padding: 10px 25px;
  left: 5%;
  top: 25%;
  font-size: 40px;
}

#mid-description-two {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 14px 16px;
  background-image: url("https://404soundandlighting.tech/images/home/front_page_two.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  z-index: 100
}

#mid-description-two p {
  position: relative;
  top: 25%;
  left: 75%;
  text-align: center;
  max-width: 300px;
  font-size: 30px;
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  line-height: 2;
}

#mid-description-two h2 {
  position: relative;
  padding: 10px 25px;
  left: 72%;
  top: 25%;
  font-size: 40px;
}

#mid-description-three {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 14px 16px;
  background-image: url("https://404soundandlighting.tech/images/home/front_page_three.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  z-index: 100
}

#mid-description-three p {
  position: relative;
  top: 25%;
  left: 5%;
  text-align: center;
  max-width: 300px;
  font-size: 30px;
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  line-height: 2;
}

#mid-description-three h2 {
  position: relative;
  padding: 10px 25px;
  left: 2%;
  top: 25%;
  font-size: 40px;
}

#login-modal {
  position: fixed; 
  display: flex;
  justify-content: space-evenly;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: hidden; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5); 
}

#close {
  padding: none;
  border: none;
  margin: none;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#login-content {
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  line-height: 2;
  font-size: 30px;
  padding: 20px 16px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  height: 75%;
  width: 400px;
}

#form-title {
  font-size: 25px;
  font-weight: 100;
}


#login-form input {
  border: none;
  outline: none;
  width: 75%;
  height: 50px;
  color: black;
  background-color: white;
}

#login-form input:hover {
  cursor: pointer;
}

#submit, #alternate {
  width: 70px !important;
}

#submit:hover {
  color: #1290f8;
  border: none !important;
}

#alternate:hover {
  color: #1290f8;
  border: none !important;
}

.errored {
  background-color: #ff4747;
}

#login-form #error {
  font-size: 15px;
  padding: 6px 5px;
  color: #ff4747;
  font-weight: bolder;
  margin: 0;
}
#login-form p {
  font-size: 25px;
  padding: 20px 20px;
}

#login-content #bottom-decor {
  width: 1000px;
  margin-top: 10px;
  margin-left: -100px;
  bottom: 0%;
  height: 40px;
  position: relative;
  background: #1290f8;
}

