* {
    padding: 0;
    border: 0;
    margin: 0;
}

body: {
}

.hidden-element {
    display: none !important;
}

.navbar-full {
    background: linear-gradient(to right, #1290f8, #290082);
}

.navbar-empty {
}
    

#warning-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  width: 400px;
  height: 40vh;
  text-align: center;
  padding: 20px 20px;
  line-height: 40px;
  margin: 30px;
}


@media (max-width: 1000px) {
  #desktop-content {
    display: none;
  }
}

@media (min-width: 1000px) {
  #mobile-content {
    display: none;
  }
}


#navigation-bar img:hover {
    cursor: pointer;
}

#navigation-bar a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#navigation-bar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#navigation-bar a:hover {
  cursor: pointer;
}

@media (min-width: 1000px) {
    #navigation-bar {
        overflow: hidden;
        position: fixed;
        z-index: 1;
        padding: 0px 16px;
        /* background: linear-gradient(to right, #1290f8, #290082);*/
        background: rgb(256, 256, 256, 0);
        height: 70px;
        width: -webkit-fill-available;
    }

    #navigation-bar a {
        position: relative;
        display: inline-block;
        padding: 14px 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 28px;
    }

    #navigation-bar img {
        max-height: 70px;
        width: auto
    }

    #navigation-bar #nav-left {
       position: absolute;
       margin: 0;
    }

    #navigation-bar #nav-center {
        left: 50%;
        position: absolute;
        text-align: center;
    }

    #navigation-bar #nav-right {
        position: absolite;
        float: right;
    }
}

@media (max-width: 1000px) {
    #navigation-bar {
        display: block;
        position: sticky;
        z-index: 1;
        padding: 0px 16px;
        background: linear-gradient(to right, #1290f8, #290082);
        width: -webkit-fill-available;
    }

    #navigation-bar a {
        position: relative;
        display: block;
        text-align: center;
        background: linear-gradient(to right, #1290f8, #290082);
        width: inherit;
        background: none;
        padding: 20px 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 28px;
    }

    #navigation-bar img {
        max-height: 70px;
        width: auto
    }
}

#demo-video {
  position: absolute;
  width: -webkit-fill-available;
  height: auto;
  z-index: 0;
}
